@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

.logo-container {
  display: inline-flex;
}

body {
  margin: 0;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-family: "Ubuntu", sans-serif;
  color: rgb(161, 150, 150);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
  max-width: 900px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  gap: 100px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  border-right: 2px;
  width: 400px;
  gap: 20px;
}

.left-container h2 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #222;
}

.right-container h2 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #222;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.form-container input {
  margin-bottom: 20px;
  padding: 12px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid rgba(34, 34, 34, 0.349);
}

#signin-button,
#signup-button {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border-style: none;
  cursor: pointer;
  color: #fff;
  background-color: rgb(236, 21, 68);
  font-weight: bolder;
}

#signin-button:hover {
  background-color: rgb(160, 46, 70);
  border: 2px solid #222;
}

#signup-button:hover {
  background-color: rgb(160, 46, 70);
  border: 2px solid #222;
}

.logo-container {
  display: flex;
  gap: 20px;
  color: #222;
}

.logo-container div {
  padding: 5px;
  font-size: 15px;
  border: 2px solid #222;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  cursor: pointer;
}

.logo-container div:hover {
  background-color: rgb(233, 233, 233);
}

@media (max-width: 1024px) {
  .card-container {
    flex-direction: column;
    padding: 30px;
    width: 400px;
    max-width: 400px;
    height: fit-content;
    max-height: 750px;
    gap: 5px;
  }
}
